In [1]:
import cx_Oracle
import pandas as pd
import gspread
from gspread_dataframe import get_as_dataframe
from datetime import datetime
from dateutil.relativedelta import relativedelta
from dotenv import load_dotenv
import os

In [2]:
load_dotenv()
user = os.getenv('USER')
password = os.getenv('PASSWORD')

In [3]:
# pbl oracle connection
dsn_tns = cx_Oracle.makedsn('pbl.ibl.poznan.pl', '1521', service_name='xe')
connection = cx_Oracle.connect(user=user, password=password, dsn=dsn_tns, encoding='windows-1250')

In [6]:
pbl_query = """
select z.za_ro_rok rocznik, count(*) liczba_rekordow from IBL_OWNER.pbl_zapisy z
where z.za_status_imp is null
and z.za_uzytk_wpis_data > TO_DATE('2024-01-01','YYYY-MM-DD')
and z.za_uzytk_wpis_data < TO_DATE('2025-01-01','YYYY-MM-DD')
group by z.za_ro_rok
order by z.za_ro_rok
            """                

pbl_df = pd.read_sql(pbl_query, con=connection)

C:\Users\Nikodem\AppData\Local\Temp\ipykernel_17996\774828748.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pbl_df = pd.read_sql(pbl_query, con=connection)

In [9]:
print(pbl_df)
print('RAZEM: ', sum(pbl_df['LICZBA_REKORDOW']))

    ROCZNIK  LICZBA_REKORDOW
0      1988                1
1      1989               19
2      1992                1
3      1994                4
4      1995                2
5      1996               17
6      1997                1
7      1998                2
8      1999                1
9      2000                9
10     2001                2
11     2002               63
12     2003               43
13     2004              970
14     2005             2057
15     2006             1340
16     2007             1300
17     2008             1867
18     2009             2309
19     2010             2040
20     2011             1724
21     2012             1703
22     2013               62
23     2014                1
RAZEM:  15538

In [4]:
pbl_query = """
select z.za_type typ, count(*) liczba_rekordow from IBL_OWNER.pbl_zapisy z
where z.za_status_imp is null
and z.za_uzytk_wpis_data > TO_DATE('2024-01-01','YYYY-MM-DD')
and z.za_uzytk_wpis_data < TO_DATE('2025-01-01','YYYY-MM-DD')
group by z.za_type
order by liczba_rekordow desc
            """                

pbl_df = pd.read_sql(pbl_query, con=connection)

C:\Users\Nikodem\AppData\Local\Temp\ipykernel_6068\3253025851.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pbl_df = pd.read_sql(pbl_query, con=connection)

In [5]:
print(pbl_df)
print('RAZEM: ', sum(pbl_df['LICZBA_REKORDOW']))

   TYP  LICZBA_REKORDOW
0  IZA             8276
1   PU             6092
2   IR              635
3   KS              494
4   SZ               35
5   FI                6
RAZEM:  15538

In [15]:
bn_articles_2024 = set(pd.read_excel('statystyki 2024/import 2024/bn_articles_marc.xlsx')['001'])
bn_books_2024 = set(pd.read_excel('statystyki 2024/import 2024/bn_books_marc.xlsx')['001'])
bn_chapter_2024 = set(pd.read_excel('statystyki 2024/import 2024/bn_chapters_marc.xlsx')['001'])

bn_articles_2021 = set(pd.read_excel('statystyki 2024/import 2021/bn_articles_marc.xlsx')['001'])
bn_books_2021 = set(pd.read_excel('statystyki 2024/import 2021/bn_books_marc.xlsx')['001'])
bn_chapter_2021 = set(pd.read_excel('statystyki 2024/import 2021/bn_chapters_marc.xlsx')['001'])

In [17]:
print('BN 2024 articles: ', len(bn_articles_2024))
print('BN 2024 books: ', len(bn_books_2024))
print('BN 2024 chapters: ', len(bn_chapter_2024))
print('BN 2021 articles: ', len(bn_articles_2021))
print('BN 2021 books: ', len(bn_books_2021))
print('BN 2021 chapters: ', len(bn_chapter_2021))

BN 2024 articles:  41795
BN 2024 books:  70810
BN 2024 chapters:  14656
BN 2021 articles:  183345
BN 2021 books:  129360
BN 2021 chapters:  28754

In [16]:
print('BN 2024 articles: ', len(bn_articles_2024 - bn_articles_2021))
print('BN 2024 books: ', len(bn_books_2024 - bn_books_2021))
print('BN 2024 chapters: ', len(bn_chapter_2024 - bn_chapter_2021))

BN 2024 articles:  41795
BN 2024 books:  70810
BN 2024 chapters:  14656