In [1]:
import pandas as pd

In [2]:
dzialy_df = pd.read_excel('dzialy_pbl.xlsx').fillna('')

c:\Users\Nikodem\Documents\main_venv\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
dzialy_df.head()

   DZIAL_ID                     DZIAL_NAZWA DZIAL_NADRZEDNY
0       274  Wydawnictwa polskie za granicą           241.0
1        96        Literatura nikaraguańska            30.0
2        97             Literatura norweska            30.0
3        98        Literatura nowozelandzka            30.0
4        99  Literatura palestyńsko-arabska            30.0

In [16]:
dzialy_dct = dzialy_df.set_index('DZIAL_ID').to_dict(orient='index')

In [17]:
def get_heading_path(dzial_dct):
    if not dzial_dct['DZIAL_NADRZEDNY']:
        return dzial_dct['DZIAL_NAZWA']
    else:
        return dzial_dct['DZIAL_NAZWA'] + ' --> ' + get_heading_path(dzialy_dct[dzial_dct['DZIAL_NADRZEDNY']])

In [18]:
for value in dzialy_dct.values():
    value['heading_path'] = get_heading_path(value)

In [26]:
output_df = pd.DataFrame.from_dict(dzialy_dct, orient='index').reset_index(names='DZIAL_ID')[['DZIAL_ID', 'heading_path']]
output_df.head()

   DZIAL_ID                                       heading_path
0       274  Wydawnictwa polskie za granicą --> Wydawnictwa...
1        96       Literatura nikaraguańska --> Literatury obce
2        97            Literatura norweska --> Literatury obce
3        98       Literatura nowozelandzka --> Literatury obce
4        99  Literatura palestyńsko-arabska --> Literatury ...

In [27]:
output_df.to_excel('dzialy_sciezki.xlsx', encoding='utf-8', index=False)

c:\Users\Nikodem\Documents\main_venv\Lib\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)